*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 0.5px solid burlywood;
    height: 60px;
}
#search-logo{
    width: 20px;
}
#search-bar{
    width: 400px;
}
#search-input{
    width: 300px;
    margin-right:10px;
}