<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/dist/boxicons.js" integrity="sha512-Dm5UxqUSgNd93XG7eseoOrScyM1BVs65GrwmavP0D0DujOA8mjiBfyj71wmI2VQZKnnZQsSWWsxDKNiQIqk8sQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Document</title>
</head>
<body>
    <div id="formulaire">
        <img src="/static/img/md-salman-tWOz2_EK5EQ-unsplash.jpg" alt="login-image">
    <form action="/register" method="post">
        <div id="imag-logo">
        <img src="/static/img/Design_sans_titre_1_-removebg-preview.png" alt="image logo" height="70px" width="70px">
        <h1>Login</h1>
        </div>

        <div id="form">
        <label for="name">name :</label>
        <input type="name" name="name" id="name">
        <label for="password">password :</label>
        <input type="password" name="password" id="password">
        <input type="button" value="submit" id="submit">
        </div>
    </form>
    </div>
</body>
</html>